@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.conteiner__conteudo{
    width: 615px;
}

.conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteudo__paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.conteudo__links{
    display: flex;
    justify-content: space-between;
}

.conteudo__links__links{
    font-family: 'Montserrat', sans-serif;
    background-color:  #22D4FD;
    color: #000000;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
}